* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    background-repeat: no-repeat;
    background-image: url(./images/intro-bg.jpg);
    background-position: center top;
    background-color: #fff;
}

.container {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.intro {
    padding-top: 43px;
    display: flex;
    justify-content: space-between;
}

.hand-iphone {
    background-repeat: no-repeat;
    width: 439px;
    height: 507px;
    background-image: url(./images/hand-iphone.png);
}

.intro-content {
    width: 380px;
    color: #fff;
    padding-top: 57px;
}

.intro-title {
    font-size: 60px;
    margin-bottom: 41px;
}

.intro-description {
    font-size: 24px;
    margin-bottom: 37px;
}

.intro-btn {
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    line-height: 18px;
    padding: 18px 24px;
    background-color: #f12078;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
    color: #fff;
    text-decoration: none;
}
  

.slider {
    margin-bottom: 61px;
    margin-top: -44px;
    position: relative;
}

.slider-arrow {
    position: absolute;
    top: 90px;
    width: 37px;
    height: 57px;
    cursor: pointer;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

.slider-prev {
    background-image: url(./images/slider-prev.png);
    left: -90px;
}

.slider-next {
    background-image: url(./images/slider-next.png);
    right: -90px;
}

.slider-list {
    display: flex;
    justify-content: space-between;
}

.slider-item {
    background-color: #fff;
    padding: 20px 20px 0;
    width: 220px;
}

.slider-img, .slider-title, .slider-text {
    opacity: 0.5;
}

.slider-img {
    width: 100%;
    margin-bottom: 12px;
}

.slider-title {
    font-size: 16px;
    color: #171717;
    margin-bottom: 26px;
    position: relative;
}

.slider-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #c6c6c6;
}

.slider-text {
    font-size: 12px;
    color: #5f5f5f;
}

.slider-item.active * {
    opacity: 1;
}

.slider-item.active .slider-title::after {
    background-color: #f5227d;
}

.get-your-free {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 63px;
}

.get-your-free a {
    background-color: #f12078;
    display: block;
    margin-left: 30px;
    margin-right: 40px;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    line-height: 24px;
    padding: 15px 30px;
}

.get-your-free span {
    font-size: 24px;
    color: #1e1f22;
}

.get-your-free span b {
    font-size: 36px;
    font-weight: bold;
    color: #ee1f77;
}

.benefits {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #2c2d31;
    padding-bottom: 20px;
}

.benefits-device {
    min-height: 578px;
    position: relative;
    width: 412px;
}

.benefits-device img {
    position: absolute;
    left: 0;
    top: 0;
}

.iphone-5-black {
    z-index: 2;
}

.iphone-5-white {
    z-index: 1;
    transform: translateX(135px);
    transition: transform 1s;
    transition-delay: 1s;
}

.benefits-list {
    width: 460px;
    padding-top: 9px;
}

.benefits-item {
    margin-bottom: 5px;
}

.benefits-title {
    margin-bottom: 18px;
    font-size: 24px;
    color: #2e2e2e;
    line-height: 30px;
}

.benefits-title span {
    font-weight: 400;
}

.benefits-text {
    font-size: 14px;
    color: #5e5e5e;
    line-height: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    line-height: 12px;
    padding: 20px 0;
    font-size: 12px;
    color: #2e2e2e;
}

.footer a {
    text-decoration: none;
    color: #f5227d;
}

